@import '../../scss/breakpoints';
@import '../../scss/variables';

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
    text-align: center;

    &_first{
        &_text{
            font-size: 38px;
            margin-bottom: 40px;
        }
    }
    
}
.column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 70px;
    gap: 150px;
    width: 100%;
    height: 325px;
    background-color: $main-color;
    
    &_first, &_second, &_fourth {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        margin-bottom: 15px;
        font-size: 18px;

        &::before {
            content: "";
            display: block;
            width: 70px;
            height: 1px;
            background: black;
            position: absolute;
            top: 135px;
        }
    }

    &_first, &_second, &_third, &_fourth {
        &_img {
            margin-bottom: 15px;
            position: relative;  
        }
        &_title {
            margin-bottom: 30px;
            width: 130px;
        }
        &_text {
            width: 164px;
            font-size: 16px;
        }
    }
    &_third {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        margin-bottom: 15px;
        font-size: 18px;

        &::before {
            content: "";
            display: block;
            width: 70px;
            height: 1px;
            background: black;
            position: absolute;
            top: 155px;
        }

        &_img {
            position: relative;
            top: 20px;
        }
    }

}