@import '../../scss/breakpoints';
@import '../../scss/variables';

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
    text-align: center;

    &_first{
        &_text{
            font-size: 38px;
            margin-bottom: 40px;

            @include desktop {
                font-size: 30px;
            }
            @include tablet {
                font-size: 26px;
                margin-top: -60px;
            }
            @include mobile {
                font-size: 20px;
                margin-top: -20px;
                margin-bottom: 20px;
            }
        }
        &_img {
            @include mobile {
                width: 180px;
            }
        }
    }

    &_second {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 210px;
        padding-bottom: 20px;
       
        @include tablet {
            height: 13 0px;
        }
        
        &_title {
            display: flex;
            justify-content: center;
            border: 1px solid $text-color;
            text-align: center;
            text-transform: uppercase;
            font-size: 36px;
            font-weight: 300;
            width: 120px;
            padding: 13px 150px;
            cursor: pointer;

            @include desktop {
                font-size: 30px;
                width: 90px;
                padding: 13px 140px;
            }
            @include tablet {
                font-size: 26px;
                padding: 12px 110px;
            }
            @include mobile {
                font-size: 18px;
                padding: 8px 80px;
            }
        }
    }   
}
.column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 70px;
    gap: 150px;
    width: 100%;
    height: 325px;
    background-color: $main-color;

    @include desktop {
        margin-top: 60px;
        gap: 100px;
    }
    @include tablet {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        height: 100%;
    }
    @include mobile {
        gap: 5px;
        height: 100%;
        padding: 20px;
        margin-top: 10px;
    }
    
    &_first, &_second, &_fourth {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        margin-bottom: 15px;
        font-size: 18px;

        @include desktop {
            font-size: 16px;
        }
        @include tablet {
            font-size: 14px;
        }
        

        &::before {
            content: "";
            display: block;
            width: 70px;
            height: 1px;
            background: black;
            position: absolute;
            top: 135px;
           
            @include mobile {
                top: 110px;
            }
        }
    }

    &_first, &_second, &_third, &_fourth {
        &_img {
            margin-bottom: 15px;
            position: relative;  
            
            @include mobile {
                height: 60px;
            }
        }
        &_title {
            margin-bottom: 30px;
            width: 130px;
            
            @include desktop {
                font-size: 16px;
            }  
             @include mobile {
                font-size: 14px;
            }  
        }
        &_text {
            width: 164px;
            font-size: 16px;

            @include desktop {
                font-size: 14px;
            } 
            @include mobile {
                font-size: 12px;
                width: 90px;
            }   
        }
    }
    &_third {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        margin-bottom: 15px;
        font-size: 18px;
        @include mobile {
            bottom: 20px;
        }

        &::before {
            content: "";
            display: block;
            width: 70px;
            height: 1px;
            background: black;
            position: absolute;
            top: 155px;
            
            @include mobile {
                top: 130px;
            }
        }

        &_img {
            position: relative;
            top: 20px;
        }
    }
}