.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

.input_form{
    padding: 10px 0;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 16px;
}


.label_input{
    font-size: 16px;
    color: black;
    padding-top: 10px;
}

.span_error {
    font-size: 12px;
    padding: 3px 0;
    color: red;
    display: none;
    position: relative;
    right: 15px;
}

input:invalid[focused="true"]{
    outline: none;
}

input:invalid[focused="true"] ~ span{
    display: block;
}