
.navigation{
    height: 150px;

    &_login{
        padding-left: 25%;  
    }
}
.login {
    &_first-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
    
        &_title {
            font-size: 40px;
            margin-bottom: 35px;
        }
    }
    &_second-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;

        &_form {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 120px;
        }
       
    }
}



