.contact {
    margin-top: 100px;
    display: flex;
    position: relative;
    

    &_left {
        height: 1025px;
        width: 75%;
        &_image {
            height: 100%;
            width: 100%;
            opacity: 0.2;
        }
    }
     &_right {
        width: 600px;
        position: absolute;
        right: 140px;
        top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
       
        &_title {
            font-size: 38px;
            margin-bottom: 35px;
        }
        &_form {
            margin-top: 80px;

            &_first {
                display: flex;
                gap: 20px;

                &-text {
                    margin-top: 80px;
                }
            }
        }
    

    }
}


