@import '../../scss/breakpoints';
@import '../../scss/variables';

label {
    font-size: 16px;
  }
// input {
//     margin-top: 10px;
//     padding-bottom: 5px;
//     font-size: 18px;
//     border: none;
//     border-bottom: 2px solid black;
//     width: 260px;
//     position: relative;
// } 

// ::placeholder {
//     color: $text-color;
//     opacity: 0.3;
// }

.error {
position: relative;
top: 5px;
color: red;
font-size: 14px;
}

.field {
    display: flex;
    flex-direction: column;
}
