@import '../../scss/breakpoints';
@import '../../scss/variables';

.nav {
    display: flex;
    height: 963px;
}

.left {
    height: 100%;
    width: 75%;

    &_image {
        width: 100%;
        height: 100%;
    }
    
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    width: 100%;

    &_first-column {
        display: flex;
        gap: 10px;
        margin-top: 36px;
        margin-right: 10%;
        
        &_text {
            padding: 9px 10px;
            cursor: pointer;
            font-size: 16px;
        }
        
        &_text-second {
           border: 1px solid $hero-color; 
           padding: 9px 10px;
           font-size: 13px;
           cursor: pointer;
        }
    }

    &_second-column {
        display: flex;
        gap: 30px;
        font-size: 18px;
        margin-top: 30px;
        margin-right: 10%;

        &_text {
            cursor: pointer;
        }
        &_text:first-child {
            border: 1px solid black;
            padding: 9px 20px;
        }
        
        &_text ~ li {
            padding-top: 9px;
        }
        
    }
    &_third-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 200px;
        margin-right: 16%;

        &_text {
            font-size: 38px;
            font-weight: 400;
            margin-bottom: 10px;
        }

        &_img {
            margin-top: 25px;
        }
         
    }

    &_fourth-column {
        display: flex;
        gap: 20px;
        margin-right: 16%;
        margin-top: 80px;
        text-align: center;
        text-transform: uppercase;

        &-first {   
            border: 1px solid $main-color;
            padding: 13px 93px;
            cursor: pointer;

            &_text {
                font-size: 36px;
                font-weight: 300;
               
            }
        }
         &-second {   
            border: 1px solid $main-color;
            padding: 13px 93px;
            cursor: pointer;

            &_text {
                font-size: 36px;
                font-weight: 300;
            }
        }
    }
    
}