@import '../../scss/breakpoints';
@import '../../scss/variables';

.nav_menu {
    display: flex;
    flex-direction: column;
    
    &_login {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;

          &_first-column {
            display: flex;
            gap: 10px;
            margin-top: 36px;
            margin-right: 7%;

            &-email, &-logout {
                padding-top: 9px;
            }
            &-email {
                font-size: 14px;

                @include mobile {
                    font-size: 12px;
                }
            }

            &-title {
                border: 1px solid $hero-color; 
                padding: 9px 10px;
                cursor: pointer;
                font-size: 14px;
                
                @include mobile {
                    display: none;
                }        
            }
            &-logout {
                cursor: pointer;
                font-size: 13px;
                padding-left: 10px;

                @include mobile {
                    font-size: 11px;
                    padding-left: 5px;
                    border: 1px solid $hero-color; 
                    padding: 9px 10px;
                }
            }

            @include desktop {
                margin-right: 5%;
            }
            @include mobile {
                margin-right: 5%;
            }
        
            &_text, &-text-second {
                padding: 9px 10px;
                cursor: pointer;
                font-size: 14px;
            
            @include desktop {
                font-size: 12px;
            }
            @include tablet {
                font-size: 11px;
            }
            @include mobile {
                font-size: 13px;
            }
        }
 
        &_text-second {
           border: 1px solid $hero-color; 
           padding: 9px 10px;
           font-size: 13px;
           cursor: pointer;
          
           @include desktop {
            font-size: 11px;
            }

            @include tablet {
                font-size: 10px;
            }
            @include mobile {
                font-size: 12px;
            }
        }
    }

    &_second-column {
        display: flex;
        gap: 30px;
        font-size: 18px;
        margin-top: 30px;
        margin-right: 7%;

        @include desktop {
            font-size: 14px;
            margin-right: 5%;
        }
        @include tablet {
            font-size: 12px;
            gap: 20px;
        }

        &_text {
            cursor: pointer;
            padding-top: 9px;

            @include mobile {
                display: none;
            }
            
            &-decoration {
                cursor: pointer;
                border: 1px solid $text-color;
                padding: 9px 20px;

                @include mobile {
                    display: none;
                }
            } 
        } 
    }
  }
}

.nav_menu_hero {
    display: flex;
    
    @include tablet {
        flex-direction: column;
    }

    &_left {
        height: 663px;
        width: 50%;
        background: url('../../assets/Home-Hero-Image.jpg') no-repeat center;
        background-size: contain;  

        @include tablet {
            width: 100vw;
            height: 500px;
        }
        @include mobile {
            width: 100vw;
            height: 300px;
        }
    }
    &_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        @include tablet {
            width: 100vw;
            position: relative;
            bottom: 130px;
        }
        @include mobile {
            bottom: 120px;
        }   
    }
        &_third-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
    
            @include tablet {
                margin-top: 190px;
            }
           
            &_text {
                font-size: 38px;
                font-weight: 400;
                margin-bottom: 10px;
    
                @include desktop {
                    font-size: 24px;
                }
                @include tablet {
                    font-size: 20px;
                }
                @include mobile {
                    font-size: 15px;
                }
            }
    
            &_img {
                margin-top: 25px;

                @include tablet {
                    margin-top: 15px;
                }
            }     
        }
    
        &_fourth-column {
            display: flex;
            gap: 30px;
            margin-top: 80px;
            text-transform: uppercase;
            text-align: center;
           
            @include mobile {
                gap: 20px;
            }
    
            &-first{  
                cursor: pointer;
                display: flex;
                flex-direction: column;
                border: 1px solid black;
                padding: 13px 113px;
    
                @include desktop {
                    padding: 13px 63px;
                }
                @include tablet {
                    padding: 10px 43px;
                }
                @include mobile {
                    padding: 10px 35px;
                }
               
      
                &_text {
                    font-size: 36px;
                    font-weight: 300;
    
                    @include desktop {
                        font-size: 26px;
                    }
                    @include tablet {
                        font-size: 24px;
                    }
                    @include mobile {
                        font-size: 20px;
                    }
                }
            }
            &-second {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                border: 1px solid black;
                padding: 13px 83px; 
    
                @include desktop {
                    padding: 13px 33px;
                }
                @include tablet {
                    padding: 10px 13px;
                }
                 @include mobile {
                    padding: 10px 10px;
                }
    
                &_text {
                    font-size: 36px;
                    font-weight: 300;
    
                    @include desktop {
                        font-size: 26px;
                    }
                    @include tablet {
                        font-size: 24px;
                    }
                    @include mobile {
                        font-size: 20px;
                    }
                }
            }  
        }    
}


    
